body {
  background-image: url('../img/bg.jpg');
}


main {
  @include outer-container(790px);
  margin-top: 10px;
  margin-bottom: 25px;
  background-color: $color-bg;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25), 0px 5px 10px 0px rgba(0,0,0,0.50);
}


figure {
  margin: 0;

  img {
    max-width: 100%;
  }
}


a {
  text-decoration: none;
}

.article-body,
.article-body + footer {
  padding: 0 10px;
}


hr.divider {
  background-color: #aaa;
  height: 2px;
  margin: 1em 0;
  border: none;
}

footer {
  figure {
    text-align: center;
  }
}
