{% extends "master.html" %}
{% load cms_tags %}


{% block content %}
<header>
    <figure>
        {% placeholder header-image %}
    </figure>
    {# <nav> #}
        {# <ul role="menu"> #}
            {% placeholder menu-items %}
        {# </ul> #}
    {# </nav> #}
</header>

<article class="article-body">
    {% placeholder body %}
</article>

<footer>
    <div>
        {% placeholder sponsors %}
    </div>
    <figure>{% placeholder footer-image %}</figure>
</footer>
{% endblock content %}
