{% extends "master.html" %}
{% load i18n cms_tags menu_tags %}


{% block content %}
<header>
    <figure>
        {% placeholder header-image %}
    </figure>
    <nav>
        <ul role="menu">
            <li><a href="/">{% trans "home" %}</a></li>
            {% show_menu 1 100 0 100 %}
            {% placeholder menu-items %}
        </ul>
    </nav>
</header>

<article class="article-body">
    {% placeholder body %}
</article>

<footer>
    <div>
        {% placeholder sponsors %}
    </div>
    <figure>{% placeholder footer-image %}</figure>
</footer>
{% endblock content %}


{% block footer %}
{% placeholder footer %}
{% endblock %}
